body {
    margin: 0;
    font-family: sans-serif;
}

header, footer {
    background-color: black;
    color: white;
    padding: 30px;
}

article {
    background-color: grey;
    padding: 10px;
    margin: 10px;
}

aside {
    background-color: #f0807f;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    aside {
        width: 30%;
    }

    #articles {
        width: 70%;
    }

    .container {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    #articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
    article {
        margin: 0;
    }
}
